@{
    ViewData["Title"] = "Home Page";
}

   
<div class="sheetSlider sh--default">
    <input type="radio" id="s1" name="slider1" checked>
    <input type="radio" id="s2" name="slider1">
    <input type="radio" id="s3" name="slider1">
    <input type="radio" id="s4" name="slider1">
    <input type="radio" id="s5" name="slider1">
    <input type="radio" id="s6" name="slider1">
    <input type="radio" id="s7" name="slider1">
    <input type="radio" id="s8" name="slider1">
    <input type="radio" id="s9" name="slider1">
    <input type="radio" id="s10" name="slider1">
    <div class="sh__content">
        <div class="sh__item">
            <img src="~/images/UWP.png" alt="Alternate Text" class="imgSlider" />
            <div class="sh__meta">
                <h4>UWP</h4>
                <span>Curso de app para la plataforma universal de windows UWP  C# <a href="#urlPage">with link</a></span>

            </div>

        </div>
        <div class="sh__item">
            <img src="~/images/Xamarin.png" alt="Alternate Text" class="imgSlider" />
            <div class="sh__meta">
                <h4>Xamarin</h4>
                <span>Curso de xamarin para android y firebase en c# <a href="#urlPage">with link</a></span>

            </div>

        </div>
        <div class="sh__item">
            <img src="~/images/Systema-portada-core.png" alt="Alternate Text" class="imgSlider" />
            <div class="sh__meta">
                <h4>ASP Net Core MVC</h4>
                <span>Curso de aplicaciones web modernas en ASP NET Core MVC en C# <a href="#urlPage">with link</a></span>

            </div>

        </div>
        <div class="sh__item">
            <img src="~/images/Systema5.png" alt="Alternate Text" class="imgSlider" />
            <div class="sh__meta">
                <h4>Java Web MVC</h4>
                <span>Curso de Java Web MVC and javascript , Hibernate , MySql, spring <a href="#urlPage">with link</a></span>

            </div>

        </div>
        <div class="sh__item">
            <img src="~/images/Android-kotlin1.png" alt="Alternate Text" class="imgSlider" />
            <div class="sh__meta">
                <h4> Android Kotlin </h4>
                <span>Curso de Android and Firebase con Kotlin <a href="#urlPage">with link</a></span>

            </div>

        </div>
        <div class="sh__item">
            <img src="~/images/Systema1.png" alt="Alternate Text" class="imgSlider" />
            <div class="sh__meta">
                <h4> C# con MySQL y SQL </h4>
                <span>Como crear un sistema punto  de ventas en C# con MySQL y SQL <a href="#urlPage">with link</a></span>

            </div>

        </div>

        <div class="sh__item">
            <img src="~/images/Systema4.png" alt="Alternate Text" class="imgSlider" />
            <div class="sh__meta">
                <h4> PHP 7 POO MVC & PDO  </h4>
                <span>Curso de sistema de ventas y facturacion en  PHP 7 POO MVC & PDO <a href="#urlPage">with link</a></span>

            </div>

        </div>

        <div class="sh__item">
            <img src="~/images/Android3.png" alt="Alternate Text" class="imgSlider" />
            <div class="sh__meta">
                <h4> Android Java  </h4>
                <span>Curso de Android and Firebase  con JAva    <a href="#urlPage">with link</a></span>

            </div>

        </div>
        <div class="sh__item">
            <img src="~/images/Systema-portadaASP-NET-Core.png" alt="Alternate Text" class="imgSlider" />
            <div class="sh__meta">
                <h4> ASP.Net Core MVC C# </h4>
                <span>Curso de sistema de ventas y facturacion en   ASP.Net Core MVC C# <a href="#urlPage">with link</a></span>

            </div>

        </div>
        <div class="sh__item">
            <img src="~/images/System3.png" alt="Alternate Text" class="imgSlider" />
            <div class="sh__meta">
                <h4> Java & MySQL y SQL</h4>
                <span>Curso de sistema de puntos de  ventas en   Java & MySQL y SQL <a href="#urlPage">with link</a></span>

            </div>

        </div>

    </div>
    <div class="sh__btns">
        <label for="s1"></label>
        <label for="s2"></label>
        <label for="s3"></label>
        <label for="s4"></label>
        <label for="s5"></label>
        <label for="s6"></label>
        <label for="s7"></label>
        <label for="s8"></label>
        <label for="s9"></label>
        <label for="s10"></label>
    </div>
    <div class="sh__arrows">
        <label for="s1"></label>
        <label for="s2"></label>
        <label for="s3"></label>
        <label for="s4"></label>
        <label for="s5"></label>
        <label for="s6"></label>
        <label for="s7"></label>
        <label for="s8"></label>
        <label for="s9"></label>
        <label for="s10"></label>
    </div>


</div>
    
