@{
    ViewData["Title"] = "about";
}
<h2>@ViewData["Title"]</h2>

<div  class="container">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati atque alias at ea eligendi nemo, corrupti reiciendis amet minus dolorum, commodi nam tenetur incidunt voluptatum rerum quis accusamus necessitatibus quaerat?
        Quaerat nulla natus quis ullam officia similique? Est repudiandae id nostrum at aperiam alias pariatur fuga facilis, sed temporibus error maiores corporis natus quasi veritatis esse possimus perspiciatis quisquam officia.
        Expedita omnis laudantium rem iure, nisi aliquam distinctio eveniet mollitia, tenetur ab deserunt quod minima quisquam ratione atque nemo suscipit odit corrupti tempora nulla officia id consectetur. Alias, debitis voluptatum.
        Incidunt vel quaerat optio dolor aliquid similique blanditiis nemo esse itaque. Quos, adipisci aut quae illum similique numquam repellendus officiis suscipit impedit vero consequuntur a repellat ut ab excepturi distinctio.
        Quam commodi eos nemo a ratione ipsa facere quidem aliquid maiores, expedita molestias architecto id quod quasi harum voluptate eius debitis. Ipsum nemo rem, repellat magni reiciendis vero repellendus laudantium!
        Magni deleniti, nemo molestias ratione repellendus facilis, id nisi aperiam atque harum unde rem ab maxime natus at vitae ea voluptatibus ducimus aliquid pariatur error ullam eligendi reiciendis. Voluptas, numquam!
        Hic sit in incidunt vero aut repellat. Vel mollitia itaque minus id quidem? Quo fuga nemo dolor, veritatis iusto est possimus perferendis deserunt maxime, non dicta at quasi aut! Eius.
        Voluptatem delectus enim soluta ducimus iure! Accusantium doloremque voluptate, sit, ut deleniti aut perferendis in vitae nesciunt libero dolorum fuga cum, quaerat quod numquam expedita iusto eum! Fuga, fugiat quis?
        Facere recusandae iure beatae animi nisi obcaecati explicabo, adipisci architecto qui autem minima assumenda. Sed, perferendis! Qui ad atque ullam! Autem unde quasi iste molestias, reprehenderit rerum aspernatur saepe iure.
        Deleniti architecto saepe quo necessitatibus suscipit ab officia consectetur distinctio eum libero optio alias dolores in vero adipisci animi sit nostrum, maxime magni officiis veniam! Inventore, aliquam placeat. Possimus, voluptatum.
    </p>
</div>
